@import "tailwindcss";

:root {
  /* colors */
  --background: hsl(0, 0%, 98%);
  --text: hsl(207, 26%, 17%);
  --elements: hsl(0, 0%, 100%);

  /* breakpoints */
  --breakpoint-xl: "1440px";

  /* font-size */
  --text-base: 14px;
  --text-lg: 16px;

  /* font-family */
  --font-nunito-sans: "Nunito Sans", Arial, Helvetica, sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-text: var(--text);
  --color-elements: var(--elements);
  --font-sans: var(--font-nunito-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(207, 26%, 17%);
    --text: hsl(0, 0%, 100%);
    --elements: hsl(209, 23%, 22%);
  }
}

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-sans);
}
